* {
  box-sizing:border-box;
}
body {
  margin: 0;
  font-family: "Mulish", sans-serif;
}
.container {
  width: 1220px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.site-header {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 86px;
}
.nav-list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
}
.nav-list-item {
  margin-right: 40px;
  text-decoration: none;
  color:black;
  opacity: 0.5;
}
.active {
  opacity: 1;
  font-weight: 700;
}
.theme {
  display: flex;
  justify-content:space-between;
  padding-top: 100px;
}
.virtual-healthcare {
  width: 440px;
  font-size: 21px;
  color: #7D7987;
}
.theme-h {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 97px;
  font-size: 43px;
  color: #000;
  font-weight: 700;
} 
.descriptions {
  margin-bottom: 40px;
  padding-right: 20px;
}
.desc {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}
.consolt-today-link {
  display:inline-block;
  background:#458FF6;
  color:#fff;
  padding: 16px 37px;
  border-radius: 55px;
  text-decoration: none;
  font-weight: 700;
}
.our-servise {
  margin-top: 0;
  margin-bottom: 26px;
  padding-top: 287px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.site-line {
  display:block;
  margin: 0 auto;
  width: 50px;
  height: 2px;
  border: 2px solid black;
  border-radius:5px;
}
.section-two-span {
  margin-bottom: 33px;
}
.section-two-description {
  width:760px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  text-align: center;
  color: #7D7987;
}
.section-two-desc {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

.section-two-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-bottom: 30px;
  padding-left: 0;
  background-color::#faf8ff;
  list-style-type: none;

}
.card {
  width: 380px;
  margin-bottom:40px ;
  padding-top: 68px;
  padding-right:59px;
  padding-bottom:47px;
  padding-left:41px;
  background-color: #e3fffe;
  border-radius:8px;
  line-height: 28px;
}
.card-img {
  display: block;
  margin-bottom: 23px;
}
.card-description {
  color:#7D7987;
  font-weight: 300;

}

.card-theme {
  margin-top: 0;
  font-weight: 700;
}
.learn_more-link {
  display:block;
  margin: 0 auto;
  width: 200px;
  padding: 16px 20px;
  color:#00aadd;
  border:2px solid #00aadd;
  border-radius: 55px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}
.three-section {
  padding-top: 213px;
}
.leading-healthcare-providers {
  width: 440px;
  height: 390px;
}
.lab-theme {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
}
.lab-line {
  margin-bottom: 30px;
  margin-left: 0;
  font-weight: 700;
}
.lab-link {
  margin-left: 0;
  margin-top: 40px;
}
.dowands-mobile-app {
  width: 440px;
}
.section-four-descriptions {
  padding-right:60px;
  font-size: 18px;
  margin: 0;
  color:#7d7987;
  font-weight: 300;
}
.mobile-app-img {
  padding-bottom: 251px;
}
.feedback {
  background-color:#458ff6;
  padding: 73px 80px;
  border-radius:24px;
}
.articl-title {
  margin-top: 0;
  margin-bottom: 34px;
  text-align: center;
  font-size: 36px;  
  color:#fff;
  font-weight: 700;
}
.article-line {
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 50px;
  height: 2px;
  border:2px solid #fff;
  border-radius:6px;
}
.user {
  display: flex;
  justify-content: space-between;
}

.user-desc {
  display: flex;
  width: 403px;
  font-size: 19px;
  line-height: 30px;
  align-items: center;
}
.user-description {
  margin: 0;
  color:#ffffffe6;
  font-weight: 400;
}
.user-full {
  display: flex;
}
.user-about {
  padding-top: 65px;
  padding-left: 31px;
}
.user-job {
  margin: 0;
  color:#ffffffe6;
  font-size: 18px;
  font-weight: 400;
}
.user-name {
  color:#fff;
  font-size: 22px;
  font-weight: 700;
}
.section-five {
  background-color: #fff;
}
.chack-up-cards {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 80px;
  padding-left: 0;
}
.check-up-card {
  width: 380px;
  background-color: #ffffffde;
}
.check-up-title {
  padding-left: 30px;
  padding-right:57px;
  font-size: 21px;
  line-height: 32px;
  font-weight: 700;
}
.check-up-description {
  padding-left: 30px;
  padding-right: 84px;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
  font-weight: 300;
}
.check-up-link {
  display: inline-block;
  text-decoration: none;
  color:#458ff6;
  padding-left: 30px;
  padding-bottom: 42px;
  font-weight: 600;
}
.view-all-link {
  margin-bottom: 150px;
}
.site-footer {
  background-color:#458ff6;
}
.div-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 166px;
  padding-bottom: 115px;
}
.footer-logo {
  width: 386px;
}
.footer-logo_link {
  display: inline-block;
  margin-bottom: 21px;
}
.footer-desc {
  margin-bottom: 31px;
  margin-top: 0;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  font-weight: 300;
}
.company-address-link {
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color:#fff;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  width: 644px;
}
.strongs {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.footer-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 18px;
}
.footer-list-item {
  margin-bottom: 10px;
  font-weight: 300;
}
.footer-list-item-link {
  text-decoration: none;
  color: #fff;
}